In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('pima-indians-diabetes.csv', sep=',', skiprows=9, names=['times pregnant', '포도당 농도', '혈압', '피부두께', '2시간 혈청 인슐린', '체질량지수', '당뇨병혈통기능', '나이', '당뇨여부'])
df

     times pregnant  포도당 농도  혈압  피부두께  2시간 혈청 인슐린  체질량지수  당뇨병혈통기능  나이  당뇨여부
0                 6     148  72    35           0   33.6    0.627  50     1
1                 1      85  66    29           0   26.6    0.351  31     0
2                 8     183  64     0           0   23.3    0.672  32     1
3                 1      89  66    23          94   28.1    0.167  21     0
4                 0     137  40    35         168   43.1    2.288  33     1
..              ...     ...  ..   ...         ...    ...      ...  ..   ...
763              10     101  76    48         180   32.9    0.171  63     0
764               2     122  70    27           0   36.8    0.340  27     0
765               5     121  72    23         112   26.2    0.245  30     0
766               1     126  60     0           0   30.1    0.349  47     1
767               1      93  70    31           0   30.4    0.315  23     0

[768 rows x 9 columns]

In [26]:
df = pd.read_csv('pima-indians-diabetes.csv', skiprows=9, names=range(1,10))
df

      1    2   3   4    5     6      7   8  9
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [17]:
df.loc[:, '1':'8'] # iloc로 자를 경우 [:, :9]가 됨. 혹은 :-1

      1    2   3   4    5     6      7   8
0     6  148  72  35    0  33.6  0.627  50
1     1   85  66  29    0  26.6  0.351  31
2     8  183  64   0    0  23.3  0.672  32
3     1   89  66  23   94  28.1  0.167  21
4     0  137  40  35  168  43.1  2.288  33
..   ..  ...  ..  ..  ...   ...    ...  ..
763  10  101  76  48  180  32.9  0.171  63
764   2  122  70  27    0  36.8  0.340  27
765   5  121  72  23  112  26.2  0.245  30
766   1  126  60   0    0  30.1  0.349  47
767   1   93  70  31    0  30.4  0.315  23

[768 rows x 8 columns]

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    df.loc[:, '1':'8'], df[9], random_state=2021,
    test_size=0.2, stratify=df[9]
)

In [31]:
import numpy as np

In [32]:
np.unique(y_train, return_counts=True)

(array([0, 1], dtype=int64), array([400, 214], dtype=int64))

In [33]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 8), (154, 8), (614,), (154,))

In [34]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=2021)
dtc.get_params()

{'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': 2021,
 'splitter': 'best'}

In [35]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

In [36]:
pred = dtc.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.7077922077922078

In [38]:
dtc.score(X_test, y_test)

0.7077922077922078

In [39]:
from sklearn.model_selection import GridSearchCV

In [40]:
params = {
    'max_depth': [2,3,4,5,6],
    'min_samples_split': [2,3,4]
}

In [41]:
grid_dt = GridSearchCV(dtc, param_grid=params, scoring='accuracy', cv=3)
grid_dt.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 3, 4, 5, 6],
                         'min_samples_split': [2, 3, 4]},
             scoring='accuracy')

In [42]:
grid_dt.best_score_

0.7443328550932568

In [43]:
grid_dt.best_params_

{'max_depth': 3, 'min_samples_split': 2}

In [44]:
best_dt = grid_dt.best_estimator_

In [45]:
best_dt.score(X_test, y_test)

0.7142857142857143